{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liste des produits de la catégorie {{ category.name }}{% endblock %}

{% block body %}
{{ parent() }}

<h1>Liste des produits de la catégorie {{ category.name }}</h1>

<h3>Description de {{ category.name }} : {% if category.description %}
    {{ category.description }}
    {% else %}
    non définie
    {% endif %}</h3>

<div class="container">
    <div class="row">
{% for product in products %}
    <div class="col-lg-3 mt-3">
    <div class="card text-center shadow">
       <h5 class="card-title"><a href="{{ path('voir_product',{slug: product.slug}) }}">{{ product.name }}</a></h5>
       <p class="card-text">{% if product.description|length > 15 %}{{ product.description[:15] }}...
           {% else %}
           {{ product.description }}
           {% endif %}</p>
       <p class="card-text font-weight-bold">{{ product.price }} €</p>
       <button class="card-text btn-success">Vendu par {{ product.user.username }}</button>
    </div>
    </div>
{% endfor %}
    </div>
</div>
{% endblock %}