{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Voir le produit {{ product.name }}{% endblock %}

{% block body %}
{{ parent() }}

<h2>Voir le produit {{ product.name }}</h2>
<ul>
    <li>{{ product.description }}</li>
    <li>{{ product.price }} €</li>
    <li>Vendeur: {{ username }}</li>
    <li>Catégorie: {{ product.category.name }}</li>
    <li>Tags: {% for tag in product.tags %}
        {{ tag.name }}
        {% else %}
            aucun
    {% endfor %}</li>
</ul>

<a href="{{ path('edit_product',{id: product.id}) }}">Editer ce produit</a>
<a href="{{ path('delete_product',{id: product.id}) }}">Supprimer ce produit</a>
{% endblock %}